.parent {
    display: inline;
    width: 100%;
}
.container-store {
    font-size: 1rem;
    width: 100%;
    display: flex;
    flex-direction: row;
}
.store-stock,
.store-info {
    flex-basis: 50%;
    // flex: 1 1 auto;
    margin: 5px;
    background-color: white;
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
    li {
        border-radius: 3px;
        // display: flex;
        margin-bottom: 25px;
        padding: 0 20px;
        list-style: none;
    }
}

.stock-table {
    // width: 50%;
    // flex-basis: 50%;
    display: flex;
    .stock {
        background: white;
        box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
        flex-basis: 50%;
        align-items: center;
    }
    .table {
        li {
            display: flex;
            flex-direction: row;

            .col-1,
            .col-2 {
                padding: 12px;
            }
            width: 100%;
            .col-1 {
                flex-basis: 40%;
            }
            .col-2 {
                flex-basis: 40%;
            }
            .col-3 {
                flex-basis: 10%;
            }
            .col-4 {
                flex-basis: 10%;
            }

            .col-5 {
                flex-basis: 20%;
            }

            div {
                font-size: 1rem;
            }
        }
    }

    .header {
        background: #8b8d94;
    }
    .header .col-1,
    .col-2,
    .col-5 {
        h3 {
            text-align: left;
            font-size: 1.3rem;
            color: white;
        }
    }
    .table {
        flex-basis: 50%;
        margin: 5px;

        // background: white;
        // box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
    }
    .form-stock {
        flex-basis: 50%;
        margin: 5px;
        display: flex;
        flex-direction: column;
        padding: 30px;
        background: white;
        box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);

        li {
            list-style: none;
            border-radius: 3px;
            // display: flex;
            margin-bottom: 25px;
            padding: 0 20px;
        }
    }
}
@media all and (max-width: 767px) {
    .container-store {
        flex-direction: column;
    }
    .stock-table,
    .form-stock {
        width: 100%;
    }
}
