/*--- Navbar ---*/
nav {
  display: inline;
  width: 100%;
  font-family: 'Lato', sans-serif;
}

.content {
  float: right;
}

.content ul {
  display: flex;
  list-style: none;
  width: 100%;
}

.content li {
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.content li:hover {
  color: yellow;
}

.login-btn {
  border: 1px solid black;
  border-radius: 1rem;
}

/*--- Home Section ---*/
.home-section {
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0;
}

.illustration {
  max-width: 50%;
}

.illustration img {
  width: 100%;
  height: auto;
}

.section-content {
  font-family: 'Lato', sans-serif;
  margin-top: 3rem;
}

.section-title {
  font-weight: bold;
  font-size: 4em;
}